html, body{
    position: absolute;
    min-height: 100%;
    height: auto;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(63, 60, 65);
}
.table{
    margin: 1em;
    max-width: 100%;
}
.more{
    display: flex;
    justify-content: center;
    margin: 1em;
}
nav p{
    color:rgb(183, 183, 185);
    font-size: 1rem;
    width: 70%;
    padding: 1em;
    text-align: center;
    border-radius: .7em;
    border-top: 1px solid rgb(177, 175, 175);
    border-bottom: 1px solid rgb(177, 175, 175);
    margin: 1em auto;
    order:1;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgb(180, 178, 178) 0 1px 0;
}
nav p:hover{
    background-color: rgb(110, 97, 110);
    color: rgb(224, 220, 220);
    color: rgb(173, 139, 165);
}
main{
    height:auto;
    width: 100%;
    color: rgb(219, 215, 215);
}
nav, main{
    min-height: 100%;
    padding: 1.5em;
    box-sizing: border-box;
}
.board{
    color: gray;
}
nav{
    width: 300px;
    height:auto;
    position: absolute;
    padding-top: 6em;
    transform: translate(-300px, 0);
    -webkit-transform: translate(-300px, 0);
    transition: transform 0.3s ease;
    background-color: rgb(63, 60, 65);
}
nav.open{
    transform: translate(0, 0);
    background-color: rgb(105, 83, 98);
    border-right: 2px solid rgb(177, 175, 175);
}
nav.open p:hover{
    background-color: rgb(173, 139, 165);
    color:rgb(47, 29, 44);
}
svg{
    width: 30px;
    height: 10px;
    padding-bottom: 1.5em;
    background: url(iconMenu.svg);
    display: block;

}
.button {
    border-top: 1px solid #cccccc;
    background: #444545;
    background: -webkit-gradient(linear, left top, left bottom, from(#99a2a8), to(#444545));
    background: -webkit-linear-gradient(top, #99a2a8, #444545);
    background: -moz-linear-gradient(top, #99a2a8, #444545);
    background: -ms-linear-gradient(top, #99a2a8, #444545);
    background: -o-linear-gradient(top, #99a2a8, #444545);
    padding: 8px 16px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgb(51, 51, 51) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #2b252b;
    font-size: 19px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
    outline:none;
    }
 .button:hover {
    border-top-color: #888d94;
    background: #888d94;
    color: #d9d9d9;
    }
 .button:active {
    border-top-color: #343638;
    background: #343638;
    }
#idea{
    display: none;
}

@media screen and (min-width: 600px) {
    nav{
        position: relative;
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
    }
    body{
        display:flex;
        flex-flow: row nowrap;
    }
    main{
        width: auto;
        flex-grow: 1;
    }
    svg{
        display: none;
    }
}
@media screen and (min-width: 900px) {
    body{
        margin: auto;
        justify-content: center;
    }
    main{
        max-width: 600px;
    }
}
@media screen and (min-width: 1150px){
    #idea{
        display: block;
        position: fixed;
        bottom: 5%;
        right: 3%;
        font-size: 4rem;
        color: rgb(114, 106, 106);
        background-color: rgb(73, 70, 75);
        text-shadow: rgba(3, 3, 3, 0.4) 0 8px 8px;
        padding: .2em .2em .2em .3em;
        border-radius: 100%;
        -webkit-box-shadow: rgba(0,0,0,1) 0 8px 8px;
        -moz-box-shadow: rgba(0,0,0,1) 0 8px 8px;
         box-shadow: rgb(51, 51, 51) 0 8px 8px;

    }
    
}